<div class="text-layout">
  <h1>Un common Pipes</h1>
  <p>Pipes included in angular - Usually included in the Common Module.</p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect pipe" [toggleable]="true">
      Greetings {{ name }}, it is a {{ genre | i18nSelect : invitationMap }} to
      invite you to our event.</p-fieldset
    >
    <br />
    <button
      pButton
      pRipple
      (click)="changeCostumer()"
      type="button"
      icon="pi pi-user"
      class="p-button-rounded p-button-info"
    ></button>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect plural pipe" [toggleable]="true">
      {{ customer.length | i18nPlural : customerMap }}
    </p-fieldset>
    <br />
    <button
      pButton
      pRipple
      (click)="deleteCostumer()"
      type="button"
      icon="pi pi-times"
      class="p-button-rounded p-button-danger"
    ></button>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Slice pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ customer }}</pre>
      <b>Slice:0:2</b>
      <pre>{{ customer | slice : 0 : 2 }}</pre>
      <b>Slice:1:2</b>
      <pre>{{ customer | slice : 1 : 2 }}</pre>
      <b>Slice:1:3</b>
      <pre>{{ customer | slice : 1 : 3 }}</pre>
      <b>Slice:1:4</b>
      <pre>{{ customer | slice : 1 : 4 }}</pre>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Json pipe" [toggleable]="true">
      <pre>
      {{ heros | json }}
     </pre
      >
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="KeyValue pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b> {{ item.key | titlecase }}: {{ item.value }} </b>
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Async pipe" [toggleable]="true">
      <!-- <pre>{{ myObservable | async }}</pre> -->
      <pre *ngIf="!(valuePromise | async)">Resolving promise</pre>
      <pre>{{ valuePromise | async }}</pre>
    </p-fieldset>
  </div>
</div>
